.item-photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.photo__time {
  font-weight: normal;
}

.item-photo__description {
  font-size: 14px;
  line-height: 24px;
}

.item-photo__like {
  font-size: 12px;
  line-height: 24px;
  color: #db738a;
}
