.advantages {
  width: 320px;
  margin: 0 auto;
  //
  min-height: 1000px;
}

.advantages__header {
  // ---
  min-height: 250px;
}
.advantages__slogan {
  font-size: 24px;
}

.advantages__list {
  background-color: #f2f2f2;
  padding: 0;
}

.advantages__item {
  list-style: none;
  //----
  min-height: 130px;
}

.advantages__title {
  font-size: 18px;
  line-height: 1.3;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.7;
}
