.contacts {
  @include container;
}

.contacts__slogan {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
}

.contacts__title {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.contacts__description {
  font-size: 24px;
  color: #de6183;
  margin: 0;
  text-align: center;

  &:hover,
  &:focus {
    color: black;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.3;
  }
}

.contacts__data {
  text-decoration: none;
  color: #de6183;

  &:hover,
  &:focus {
    color: black;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.3;
  }
}

.contacts__item {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 40px;
  }
}

@media (min-width: $tablet) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 300px;
  }
}

@media (min-width: $desktop) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 210px;
  }
}
