.contacts {
  @include container;
}

.contacts__header {
  padding-top: 44px;
  padding-bottom: 20px;
  font-weight: 100;
}

.contacts__slogan {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.contacts__title {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding-bottom: 2px;
}

.contacts__description {
  font-size: 24px;
  color: #de6183;
  margin: 0;
  text-align: center;
}

.contacts__data {
  text-decoration: none;
  color: #de6183;

  &:hover,
  &:focus {
    color: black;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.3;
  }
}

.contacts__item {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 40px;
  }
}

@media (min-width: $tablet) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 300px;

    &:last-child {
      margin-left: 160px;
      padding-top: 22px;
      padding-bottom: 0;
    }
  }

  .contacts__slogan {
    font-size: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contacts__header {
    padding-top: 49px;
    padding-bottom: 32px;
  }

  .contacts__title {
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 25px;
  }

  .contacts__item {
    width: 250px;
    padding-bottom: 0;

    &:first-child {
      order: 1
    }

    &:nth-child(2) {
      order:3
    }

    &:last-child {
      margin-left: 0;
      padding-top: 0;
      order: 2;
    }
  }

  .contacts__slogan {
    font-size: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .contacts__header {
    padding-top: 70px;
    padding-bottom: 55px;
  }

  .contacts__title {
    padding-bottom: 30px;
  }
}
