.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__slogan {
  font-size: 24px;
  text-transform: uppercase;
}

.contacts__title {
  font-size: 18px;
}

.contacts__description {
  font-size: 24px;
  color: #de6183;
}

.contacts__data {
  text-decoration: none;
  color: #de6183;
}

@media (min-width: $tablet) {
  .contacts {
    width: 660px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 300px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    width: 960px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 315px;
  }
}
