.field__input-icon {
  display: none;
}

.field__input-wrapper {
  padding-bottom: 20px;
}

.field__name {
  font-size: 14px;
  line-height: 2;
  color: #d22856;
  padding-left: 22px;
  text-transform: uppercase;
  margin: 0;
}

.field__input {
  height: 60px;
  width: 100%;
  border: 2px solid #e5e5e5;
  outline: none;
  margin-top: 7px;
  padding-left: 21px;

  &:hover {
    border-color: #000000;
  }

  &:focus,
  &:active {
    border-color: #d22856;
  }
}

.field__input--area {
  min-height: 200px;
  padding-top: 11px;
  line-height: 1.8;
  resize: vertical;
}

@media (min-width: $tablet) {

  .field__name {
    padding-right: 17px;
    padding-left: 0;
  }

  .field__name--contact {
    order: 2;
    padding-left: 16px;
    padding-top: 12px;
  }

  .field__input--contact {
    width: 440px;
  }

  .field__input--area {
    min-height: 190px;
    padding-top: 11px;
    line-height: 1.8;
    margin-left: 60px;
    margin-right: 60px;
    width: 500px;
  }

  .field__input-icon {
    display: block;
    background-color: #e5e5e5;
    width: 60px;
    height: 60px;
    margin-top: 7px;
    text-align: center;
    padding-top: 20px;
    position: absolute;
  }

  .field__input-icon--email {
    right: 58px;
  }

  .field__input-icon--phone {
    right: 58px;
  }

  .field__input {
    padding-left: 20px;
  }
}

@media (min-width: $desktop) {

  .field__input--contact {
    width: 312px;
  }

  .field__input--area {
    width: 820px;
    min-height: 125px;
  }

  .field__input-icon--email {
    top: 35px;
    left: calc(50% + 350px);
  }

  .field__input-icon--phone {
    top: 35px;
    left: calc(50% - 97px);
  }
}
