.item-photo__center {
  @include container;
}

.item-photo__image {
  display: block;
}

.item-photo--day {
  position: relative;

  &::before {
    content: "ПАНОРАМА ДНЯ";

    bottom: 291px;
    left: 160px;
    background-color: #d22856;
    padding: 12px 22px;

    font-size: 12px;
    position: absolute;
    color: white;
    text-align: center;
  }
}

.item-photo__image--day {
  width: 100%;
  height: 138px;
}

.item-photo__description-wrapper {
  padding: 19px 18px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.item-photo__title {
  font-size: 14px;
  line-height: 1.7;
  font-weight: bold;
  margin: 0;
}

.item-photo__time {
  font-weight: normal;
}

.item-photo__description {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  margin-bottom: 13px;
}

.item-photo__like {
  font-size: 12px;
  line-height: 2;
  color: #db738a;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0;
}

.item-photo__like-wrapper {
  display: flex;
}

.item-photo__time {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 12px;
}
