.item-photo__center {
  @include container;
}

.item-photo__image {
  display: block;
}

.item-photo--day {
  position: relative;

  &::before {
    content: "ПАНОРАМА ДНЯ";

    bottom: auto;
    left: 50%;
    background-color: #d22856;
    padding: 12px 20px;

    font-size: 12px;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}

.item-photo__image--day {
  width: 100%;
}

.item-photo--day .item-photo__description {
  margin-bottom: 15px;
}

.item-photo__description-wrapper {
  padding: 19px 18px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.item-photo__title {
  font-size: 14px;
  line-height: 1.7;
  font-weight: bold;
  margin: 0;
}

.item-photo__time {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}

.item-photo__description {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  margin-bottom: 13px;
}

.item-photo__like {
  font-size: 12px;
  line-height: 2;
  color: #d22856;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0;
}

.item-photo__like-wrapper {
  display: flex;
}


@media (min-width: $tablet) {
  .item-photo__image--day {
    min-height: 509px;
    object-fit: cover;
  }

  .item-photo__description {
    margin-bottom: 15px;
  }

  .item-photo--day::before {
    bottom: 85%;
    left: 76%;
  }

  .item-photo__description-wrapper {
    padding: 24px 26px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 153px;
  }

  .item-photo__like-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
  }

  .item-photo__like {
    padding-left: 0;
  }

  .item-photo__like-icon {
    padding-top: 3px;
    padding-right: 7px;
  }

  .item-photo--day .item-photo__like-icon {
    padding-top: 0;
    padding-right: 4px;
  }

  .item-photo--day .item-photo__description-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 125px;
    margin-bottom: 45px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .item-photo--day .item-photo__title {
    order: -1;
  }

  .item-photo--day .item-photo__like-wrapper {
    order: -1;
  }

  .item-photo--day .item-photo__like {
    padding-right: 15px;
  }
}

@media (min-width: $desktop) {
  .item-photo__image--day {
    min-height: 506px;
    object-fit: cover;
  }

  .item-photo--day::before {
    left: calc(50% + 329px);
  }

  .item-photo--day .item-photo__description-wrapper {
    margin-bottom: 45px;
    padding-top: 0;
    min-height: 100px;
  }

  .item-photo--day .item-photo__like-wrapper {
    padding-bottom: 0;
  }

  .item-photo__description-wrapper {
    margin-bottom: 55px;
  }

  .item-photo--day .item-photo__title {
    margin-top: 21px;
  }
}
