.main-nav__list {
  padding: 0;
}

.main-nav__item {
  font-size: 18px;
  line-height: 1.7;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
}
