.page-footer {
  background-color: #ffffff;
}

.page-footer__not-mobile {
  display: none;
}

.page-footer__logo-wrapper {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo-wrapper--form {
  padding-top: 62px;
}

.page-footer__map {
  position: relative;

  &::before {
    display: block;
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left bottom, white 50%, rgba(white, 0) 50%);
    height: 25px;
    width: 50%;
  }

  &::after {
    display: block;
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right bottom, white 50%, rgba(white, 0) 50%);
    height: 25px;
    width: 50%;
  }
}

  .page-footer__logo-container svg {
    fill: #283645;
  }

  .page-footer__logo-container svg:hover {
    fill: #d53661;
  }

  .page-footer__logo-container svg:active {
    fill: #283645;
    opacity: 0.3;
  }

  .page-footer__logo-container--desktop {
    display: none;
  }


@media (min-width: $tablet) {
  .page-footer__logo {
    width: 150px;
  }

  .page-footer__center {
    @include container;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .page-footer__wrapper--photo {
    padding-top: 38px;
  }

  .page-footer__map {

    &::after {
      height: 85px;
    }
    &::before {
      height: 85px;
    }
  }

  .page-footer__not-mobile {
    display: block;
  }

  .page-footer__logo-wrapper {
    padding-bottom: 0;
    padding-top: 0;
  }

  .page-footer__copyright {
    padding-top: 7px;
    padding-left: 22px;
  }
}

@media (min-width: $desktop) {
  .page-footer__logo {
    width: 160px;
  }

  .page-footer__center {
    @include container;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
  }

  .page-footer__copyright {
    padding-left: 5px;
  }

  .page-footer__wrapper--photo {
    padding-top: 98px;
  }

  .page-footer__map {

    &::after {
      height: 100px;
    }
    &::before {
      height: 100px;
    }
  }

  .page-footer__logo-container--desktop {
    display: block
  }

  .page-footer__logo-container--tablet-mobile {
    display: none;
  }
}
