.platform {
  background-color: #1d2631;
  padding: 0;
}

.platform__wrapper {
  @include container;
}

.platform__header {
  font-size: 40px;
  color: #ffffff;
  display: none;
  font-weight: 100;
}

.platform__download {
  display: block;

  width: 280px;
  padding: 11px 0;

  color: #ffffff;

  background-color: transparent;
  border-radius: 30px;
  border: 3px solid white;
  cursor: pointer;
  font-weight: bold;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.3);
  }
}

.platform__download-wrapper {
  padding-top: 35px;
  padding-bottom: 30px;
}

.platform__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 210px;

  margin-left: 35px;
  padding-bottom: 20px;
}

.platform__paragraph {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding-bottom: 34px;
  font-weight: 100;
}

@media (min-width: $tablet) {
  .platform {
    background-color: transparent;
    @include container;
  }

  .platform__wrapper {
    width: 50%;
    margin-left: 0;
    padding: 59px 0;
  }

  .platform__header {
    margin: 0;
    display: block;
    text-align: center;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .platform__download-wrapper {
    padding-bottom: 45px;
  }

  .platform__download {
    width: 300px;
  }

  .platform__list {
    margin-left: 45px;
    padding-bottom: 30px;
  }

  .platform__paragraph {
    font-size: 18px;
  }
}

@media (min-width: $desktop) {
  .platform {
    background-color: transparent;
  }

  .platform__paragraph {
    display: block;
    width: 70%;
    padding-right: 16px;
  }

  .platform__header {
    font-size: 50px;
    padding-top: 52px;
    padding-left: 28px;
    padding-right: 192px;
    padding-bottom: 20px;
  }

  .platform-wrapper {
    padding: 0;
    padding-top: 80px;
  }

  .platform__download-wrapper {
    padding-bottom: 64px;
  }

  .platform__list {
    padding-bottom: 50px;
  }

  .platform__download {
    font-size: 21px;
  }

}
