.platform {
  background-color: #1d2631;
  padding: 0;
}

.platform__wrapper {
  @include container;
}

.platform__header {
  font-size: 40px;
  color: #ffffff;
  display: none;
}

.platform__download {
  display: block;

  width: 280px;
  padding: 11px 0;

  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border-radius: 30px;
  border: 3px solid white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.3);
  }
}

.platform__download-wrapper {
  padding-top: 35px;
  padding-bottom: 30px;
}

.platform__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 210px;

  margin-left: 35px;
  padding-bottom: 20px;
}

.platform__paragraph {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding-bottom: 34px;
}

@media (min-width: $tablet) {
  .platform {
    background-color: transparent;
    // временно
    width: 320px;
    margin-right: 320px;
  }

  .platform__header {
    display: block;
  }
}

@media (min-width: $desktop) {
  .platform {
    background-color: transparent;
    // временно
    width: 370px;
    margin-right: 580px;
  }

  .platform__paragraph {
    display: block;
  }
}
