.platform {
  background-color: #1d2631;
  width: 320px;
  margin: 0 auto;
  // ---
  min-height: 270px;
}

.platform__download {
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  font-weight: bold;
}

.platform__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.platform__paragraph {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
}
