.reviews {
  width: 320px;
  margin: 0 auto;
  //
  min-height: 445px;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  text-decoration: none;
}

.reviews__description {
  font-size: 14px;
  line-height: 2.14;
}

.reviews__toggles {
  text-align: center;
}

@media (min-width: $tablet) {
  .reviews {
    width: 660px;
  }
}

@media (min-width: $desktop) {
  .reviews {
    width: 960px;
  }
}
