.reviews {
  @include container;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  text-decoration: none;
  text-align: center;
  margin: 0;
  font-style: normal;
}

.reviews__description {
  font-size: 14px;
  line-height: 2.2;
  text-align: center;
  margin: 0;
  padding-top: 12px;
}

.reviews__item {
  margin: 0;
  width: 280px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 17px;
}

.reviews__toggles {
  text-align: center;
  width: 65px;
  display: flex;
  justify-content: space-between;
  margin-left: 109px;
}
