.service {
  background-color: #f2f2f2;
  padding-top: 65px;
}

.service__wrapper {
  @include container;
}

.service__plan {
  background-color: #283645;

  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.service__plan--hit {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 70px;
    height: 70px;
    z-index: 1;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    content: "ХИТ";

    bottom: 70px;
    right: 245px;
    left: 10px;

    font-size: 14px;
    line-height: 2;
    z-index: 2;
    position: absolute;
    color: white;
    transform: rotate(-45deg);
  }
}
.service__item {
  list-style: none;
  padding: 0;

  &:first-child{
    display: none;
  }
  &:last-child {
    display: none;
  }
}

.service__list {
  padding: 0;
}

.service__type {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}

.service__price {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.service__advantage {
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  padding-left: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;

  border: 1px solid #e5e5e5;
  background-color: #fff;

  &:first-child {
    border-top: none;
  }
}

.service__advantage--check {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 30px;
    left: 230px;

    width: 54px;
    height: 32px;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service__advantage--uncheck {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 25px;
    left: 230px;

    width: 54px;
    height: 32px;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service__toggles {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  width: 60px;
  display: flex;
  justify-content: space-between;
  margin-left: 109px;
}

@media (min-width: $tablet) {

  .service__list {
    width: 470px;
    display: flex;
  }

  .service__toogles {
    display: none;
  }
}

@media (min-width: $desktop) {

  .service__list {
    width: 710px;
    display: flex;
  }

  .service__toggles {
    display: none;
  }
}
