.service {
  background-color: #f2f2f2;

  &::before {
    display: block;
    content: "";
    background: linear-gradient(to right bottom, white 0%, white 25%, white 50%, #f2f2f2 50%);
    height: 70px;
  }
}

.service__wrapper {
  @include container;
  padding-top: 25px;
}

.service__item--mobile {
  display: none;
}

.service__plan {
  background-color: #283645;

  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.service__plan--hit {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0px;
    left: -4px;

    width: 70px;
    height: 70px;
    z-index: 1;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    content: "ХИТ";

    bottom: 55px;
    right: 245px;
    left: 10px;

    font-size: 14px;
    line-height: 2;
    z-index: 2;
    position: absolute;
    color: white;
    transform: rotate(-45deg);
  }
}

.service__item {
  list-style: none;
  padding: 0;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.service__list {
  padding: 0;
}

.service__type {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.service__price {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.service__advantage {
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  padding-left: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 24px;
  margin: 0;

  border: 1px solid #e5e5e5;
  background-color: #fff;

  &:first-child {
    border-top: 0px;
  }

  &:last-child {
    border-bottom: 2px solid #e5e5e5;
  }
}

.service__advantage--check {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 20px;
    left: 232px;

    width: 34px;
    height: 24px;

    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service__advantage--uncheck {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 15px;
    left: 233px;

    width: 54px;
    height: 32px;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.service__toggles {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 46px;
  margin: 0;
  width: 65px;
  display: flex;
  justify-content: space-between;
  margin-left: 109px;
}

@media (min-width: $tablet) {
  .service__wrapper {
    padding-top: 2px;
    padding-bottom: 40px;
  }

  .service__list {
    display: flex;
    width: 620px;
    align-items: flex-end;
  }

  .service__item {
    width: 156px;
    display: block;
    border: none;
  }

  .service__toggles {
    display: none;
  }

  .service__advantage {
    height: 50px;
    text-transform: none;
    padding-left: 11px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin: 0;

    &:first-child {
      border-top: 2px solid #e5e5e5;
    }
  }

  .service__advantage-text {
    @include visually-hidden;
  }

  .service__advantage--uncheck::after {
    left: 40%;
    top: 20%;
  }

  .service__advantage--check::after {
    left: 40%;
    top: 20%;
  }

  .service__type {
    font-size: 16px;
    line-height: 1.6;
    padding-top: 17px;
    padding-bottom: 0;
  }

  .service__price {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .service__plan:nth-child(2n) {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }

  .service__plan--hit::after {
    background-image: url("../img/bg-hit-tablet.svg");
    left: 0;
  }

  .service__plan--hit::before {
    bottom: 37px;
  }
}

@media (min-width: $desktop) {

  .service__list {
    width: auto;
    display: flex;
  }

  .service__toggles {
    display: none;
  }

  .service__item {
    width: 240px;
  }

  .service__price {
    padding-bottom: 24px;
  }

  .service__plan--hit::before {
    bottom: 42px;
  }

  .service__advantage {
    font-size: 18px;
    padding-left: 20px;
  }

  .service__wrapper {
    padding-top: 40px;
    padding-bottom: 95px;
  }
}
