.shared-photos__header {
  @include container;
  font-size: 14px;
  line-height: 2.14;
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.shared-photos__wrapper {
  @include container;
}

@media (min-width: $tablet) {
  .shared-photos__header {
    font-size: 18px;
    line-height: 1.7;
    padding-top: 90px;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 77px;
  }

  .shared-photos__wrapper .shared-photos__item  {
    width: 300px;
  }

  .shared-photos__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop) {
  .shared-photos__wrapper .item-photo:first-child {
    margin: 0;
  }

  .shared-photos__header {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 90px;
  }
}
