.site-list {
  font-weight: bold;
  width: 100%;
}

.site-list a {
  display: block;
  padding: 15px 21px;
  padding-bottom: 12px;

  font-size: 18px;
  line-height: 2;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  &:hover {
    color: #d22856;
  }

  &:active {
    color:rgba(166, 45, 84, 0.3);
  }
}

@media (min-width: $tablet) {
  .site-list a {
    padding: 13px 21px;
  }
}

@media (min-width: $desktop) {
  .site-list {
    width: 670px;
    display: flex;
    padding-top: 45px;
  }

  .site-list a {
    display: block;
    padding: 0;


    line-height: 1;
    color: #ffffff;
    text-transform: none;
    font-weight: normal;

    background-color: transparent;
    border: none;

    &:active {
      color:rgba(255, 255, 255, 0.3);
    }
  }

  .site-list__item {
    padding-left: 81px;

    &:first-child {
      padding-left: 45px;
    }
  }

  .site-list__item--active .active {
    border-bottom: 2px solid white;
  }
}
