.slider__toggle {
  position: relative;

  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 11px;
  padding-right: 15px;

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 1;
    background-color: #b5b9be;
    opacity: 0.3;
  }
}

.slider__toggle:hover::after {
  opacity: 1;
}

.slider__toggle:active::after {
  opacity: 0.1;
}

.slider__toggle--active::after {
  background: #fff;
  opacity: 1;
  box-shadow: 0 0 0 3px black;
}

.slider__toggle--active:active::after {
  opacity: 1;
}


.slider-service {
  overflow: hidden;
}

.slider__list-service {
  display: flex;
}

.slider__item-service {
  width: 100%;
  flex-shrink: 0;
  text-align: left;
  transition: transform 0.2s ease;
  transform: translateX(-100%);
}

.slider__arrow-toggle {
  display: none;
}

@media (min-width: $tablet) {
  .slider__item-service {
    flex-shrink: 1;
    text-align: start;
    transition: 0;
    transform: none;
  }

  .slider__list-service {
    display: block;
    flex: none;
  }

  .slider-service {
    overflow: auto;
  }
}

@media (min-width: $desktop) {

  .slider__list {
    position: relative;
  }

  .slider__arrow-toggle {
    display: block;
    cursor: pointer;
    opacity: 0.3;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider__arrow-toggle--left {
    position: absolute;
    content: "";
    top: 35px;
    left: -6px;
  }

  .slider__arrow-toggle--right {
    position: absolute;
    content: "";
    top: 35px;
    left: 910px;
  }
}
