.slider__toggle {
  position: relative;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: #ffffff;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    width: 6px;
    height: 6px;

    background: rgba(126, 134, 143, 0.3);
    border-radius: 50%;
  }
}

.slider__toggle::after:hover {
  background: rgba(126, 134, 143, 1);
}

.slider__toggle-service {
  position: relative;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: #f2f2f2;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    z-index: 1;
    width: 6px;
    height: 6px;

    background: rgba(126, 134, 143, 0.3);
    border-radius: 50%;
  }
}

.slider__toggle--active {
  position: relative;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: black;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    width: 6px;
    height: 6px;

    background: #ffffff;
    border-radius: 50%;
  }
}
