.social {
  width: 320px;
  margin: 0 auto;
}

.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 180px;
  justify-content: space-between;
  margin-left: 70px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    border: 2px solid rgba(0, 0, 0, 1);
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet) {
  .social {
    width: 320px;
    padding-left: 7px;
  }
}

@media (min-width: $desktop) {
  .social {
    width: 640px;
    padding-left: 0;
  }

  .social__list {
    display: flex;
    justify-content: space-between;
    padding-left: 235px;
    padding-right: 220px;
    width: auto;
    margin-left: 0;
  }
}
